<div class="col-md-7">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.firstName && user.lastName && user.firstName + " " + user.lastName|| user.email}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-md-12"> 
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Smer</td>
                                    <td>{{user.course.name|| ""}}</td>
                                </tr>
                                <tr ng-repeat="thesis in user.theses">
                                    <td>Završni rad </td>
                                    <td><a href="#rad/{{thesis.id}}">{{thesis.name|| ""}}</a></td>
                                </tr>
                                <tr>
                                <tr>
                                    <td>Broj indeksa</td>
                                    <td>{{user.studentsTranscript}}</td>
                                </tr>
                                <tr>
                                    <td>Email adresa</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Interesovanja:</td>
                                    <td> {{user.interests}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <h4>Biografija</h4>
                <p>{{user.biography}}</p>
            </div>

        </div>

    </div>
</div>