<div class="col-md-7">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{thesis.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-md-12 "> 
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Student</td>
                                    <td ng-show="thesis.user" ><a href="#user/{{thesis.user.id}}">{{thesis.user && thesis.user.firstName && thesis.user.lastName && thesis.user.firstName + " " + thesis.user.lastName||thesis.user.firstName|| thesis.user.lastName||thesis.userName||thesis.user.email}}</a></td>
                                    <td ng-hide="thesis.user">{{thesis.userName||thesis.userEmail}}</td>
                                </tr>
                                <tr>
                                    <td>Email studenta</td>
                                    <td>{{thesis.user && thesis.user.email|| thesis.userEmail}}</td>
                                </tr>
                                <tr>
                                    <td>Datum odbrane</td>
                                    <td>{{thesis.defenseDate| date: 'dd.MM.yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td>Datum objave</td>
                                    <td>{{thesis.datePosted| date: 'dd.MM.yyyy'}}</td>
                                </tr>
                                <tr>
                                <tr>
                                    <td>Smer</td>
                                    <td>{{thesis.course.name}}</td>
                                </tr>
                                <tr>
                                    <td>Mentor</td>
                                    <td><a href="#user/{{thesis.mentor.id}}">{{thesis.mentor && thesis.mentor.firstName && thesis.mentor.lastName && thesis.mentor.firstName + " " + thesis.mentor.lastName|| ""}}</a></td>
                                </tr>
                                <tr>
                                    <td>Ocena</td>
                                    <td>{{thesis.grade}}</td>
                                </tr>
                                <tr>
                                    <td>Oblasti</td>
                                    <td><span  ng-repeat="field in thesis.fieldsOfStudy"><!--a href="#/advanced_search?tag={{tag.value}}"> #{{tag.value}} </a-->{{" " + field.name}}</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Opis</td>
                                    <td>{{thesis.description}}</td>
                                </tr>
                                <tr>
                                    <td>Tagovi</td>
                                    <td><span class="text-primary"  ng-repeat="tag in thesis.tags"><a href="#/advanced_search?tag={{tag.value}}"> #{{tag.value}} </a></span>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <a class="btn btn-primary" ng-show="thesis.file"> <span class="fa fa-arrow-circle-down" ng-click = "download(thesis.id)"> Preuzmi</span></a>
                        <div class="alert alert-warning" ng-hide="thesis.file"> Ovaj rad nema povezanu datoteku.</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-show="loggedIn">
                <h4>Vaš komentar</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" ng-model="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="postComment()"><span class="fa fa-pencil" > Postavi </span></button>
                </form>
            </div>

        </div>
        <div class="well">
            <!-- comment -->
            <div class="media" ng-repeat="comment in comments">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="media-heading"> <a href="#/user/{{comment.author.id}}">{{comment.author.firstName && comment.author.lastName && comment.author.firstName + " " + comment.author.lastName||comment.author.email}} </a>
                                <small>{{comment.datePosted| date: 'dd.MM.yyyy HH:mm' }}</small>
                            </h4>
                        </div>
                        <div class="col-md-offset-5 col-md-1">
                            <a class="alert-danger"  ng-click="deleteComment(comment.id)" ng-show="administrator"><i class="fa fa-times-circle"></i></a>
                        </div>
                    </div>
                    {{comment.message}}
                    <hr />
                </div>
            </div>

        </div>
    </div>
</div>