<html lang="en" ng-app="aplikacija">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Završni Radovi</title>

        <!-- Bootstrap Core CSS -->
        <link href="app/lib/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="app/css/custom.css" rel="stylesheet">
        <link href="app/css/login.css" rel="stylesheet">
        <link href="app/css/admin.css" rel="stylesheet">
        <link href="app/lib/font-awesome/css/font-awesome.min.css"
              rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


    </head>

    <body ng-show="initialised === true">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top navbar-fixed-top"
             role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Završni radovi</a>
                </div>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#/main">Početna</a></li>
                        <li><a href="#/about">O servisu</a></li>
                        <li><a href="#/advanced_search">Napredna pretraga</a></li>
                    </ul>
                    <ul class="nav navbar-right top-nav">
                        <li ng-show="administrator"><a href="appAdmin"><i
                                    class="fa fa-fw fa-gear"></i>Administracija</a></li>
                        <li ng-show="!loggedIn"><a href="#/login"><i
                                    class="fa fa-fw fa-gear"></i>Logovanje/Registracija</a></li>            
                        <li class="dropdown" ng-show="loggedIn"><a class="dropdown-toggle"
                                                                   data-toggle="dropdown"><i class="fa fa-user"></i>
                                {{user.firstName && user.lastName && user.firstName + " " + user.lastName|| user.email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/profile"><i class="fa fa-fw fa-user"></i>
                                        Profil </a></li>
                                <li><a href="#/editprofile"><i class="fa fa-fw fa-gear"></i>
                                        Podešavanja </a></li>
                                <li class="divider"></li>
                                <li><a ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Logout </a></li>
                            </ul></li>
                    </ul>

                </div>

            </div>
        </nav>

        <!-- Content -->
        <div class="container">
            <div ng-show="errorMessage && errorMessage.length > 0" class="alert alert-danger alert-dismissable"
                 role="alert">
                <span class="glyphicon glyphicon-warning-sign"></span><strong>{{errorMessage}}</div>
            <div class="row">

                <div ng-view></div>

                <div class="col-md-5" ng-hide="logingIn">



                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-line-chart fa-fw"></i>
                            Radovi sa najvećim brojem pregleda
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-10 col-md-11" ng-repeat="top in topTheses">
                                <div>
                                    {{$index + 1}}. <a href="#rad/{{top.id}}">{{top.name}}</a>
                                    <table class="table small" style="margin-bottom:0;">
                                        <tr>
                                            <td>
                                                Ukupan broj pregleda: {{top.viewCount}} {{top.defenseDate && ', datum odbrane: ' }} {{ top.defenseDate | date: 'dd.MM.yyyy'}}  
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Student:{{top.user.firstName && top.user.lastName && top.user.firstName + " " + top.user.lastName|| top.user.email || top.userName || top.userEmail}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <!-- Search -->
                    <div class="well">
                        <h4>Pretraga</h4>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model='expression'> <span class="input-group-btn" >
                                <a id = "searchBtn" class="btn btn-default" type="button" href="#/advanced_search?expression={{expression}}">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- Study levels -->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" ng-repeat="study in studies">
                            <div class="panel-heading" >
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       data-target="#collapse{{study.id}}"> {{study.name}}</a>
                                </h4>
                            </div>
                            <div id="collapse{{study.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        <ul class="list-unstyled">
                                            <li ng-repeat="course in study.courses"><a href="#/advanced_search?courseName={{course.name}}">{{course.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <hr />
                </div>
            </div>
        </div>

        <script src="app/lib/js/jquery-1.12.min.js"></script>
        <script src="app/lib/js/bootstrap.min.js"></script>     
        <script src="app/lib/js/angular-min.js"></script>
        <script src="app/lib/js/angular-route.min.js"></script>
        <script src="app/lib/js/angular-cookies.min.js"></script>
        <script src="app/lib/jquery-ui-1.11.4/jquery-ui.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/services.js"></script>
        <script src="app/directives.js"></script>
        <script src="app/controllers/main.js"></script>
        <script src="app/controllers/profile.js"></script>
        <script src="app/controllers/editProfile.js"></script>
        <script src="app/controllers/login.js"></script>
        <script src="app/controllers/rad.js"></script>
        <script src="app/controllers/user.js"></script>
        <script src="app/controllers/about.js"></script>
        <script src="app/controllers/advanced_search.js"></script>
    </body>
</html>